.index {
  width: 1000px;
  margin: 0 auto;

  >ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40vh;

    >li {
      width: 25%;
      background: #ffffff;
      box-shadow: 0 0px 5px #d8d8d8;
      text-align: center;
      line-height: 150px;
      font-size: 24px;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0px 5px #ffbf00;
        color: #ffbf00;
      }
    }
  }
  >div{
    
    ul{
      height: 40vh;
      li{
        height: 100%;
        width: 33.33%;
        float: left;
      }
    }
  }
}
